install
cdrom
text
lang en_US.UTF-8
keyboard {{ keyboard }}
{% if interface.static %}
network  --onboot yes --bootproto=static --ip={{ interface.ipaddress }} --netmask={{ interface.netmask }} --gateway={{ interface.gateway }} --nameserver={{ interface.nameservers | join(',')}} --noipv6 --hostname {{ hostname }}
{% else %}
network  --onboot yes --bootproto=dhcp --hostname {{ hostname }}
{% endif %}
rootpw --iscrypted {{ root_password }}
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone {{ timezone }}
bootloader --location=mbr --driveorder={{ disk }}

zerombr
clearpart --all --initlabel
autopart

user --name={{ username }} --homedir={{ homedir }} --password={{ password }} --iscrypted

{% if halt %}
poweroff
{% else %}
reboot --eject
{% endif %}

%packages --nobase
@core
%end

%post
mkdir {{ homedir }}/.ssh
echo '{{ sshkey }}' >> {{ homedir }}/.ssh/authorized_keys
chown -R {{ username }}:{{ username }} {{ homedir }}/.ssh
echo "blacklist ipv6" >> /etc/modprobe.d/blacklist.conf
echo "{{ username }} ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/{{ username }}
chmod 440 /etc/sudoers.d/{{ username }}
sed -r -i -e 's/^#?PasswordAuthentication.*/PasswordAuthentication no/' /etc/ssh/sshd_config
sed -r -i -e 's/^#?PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
{% if baseurl != '' %}
sudo sed -i -e 's/^enabled=1/enabled=0/' /etc/yum/pluginconf.d/fastestmirror.conf
cat <<-EOF > /etc/yum.repos.d/CentOS-Base.repo
[base]
name=CentOS-\$releasever - Base
baseurl={{ baseurl }}/\$releasever/os/\$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6

#released updates
[updates]
name=CentOS-\$releasever - Updates
baseurl={{ baseurl }}/\$releasever/updates/\$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6

[extras]
name=CentOS-$releasever - Extras
baseurl={{ baseurl }}/$releasever/extras/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6
{% endif %}
%end
