# configure authentication options
auth --enableshadow --passalgo=sha512

# install from cdrom
install
cdrom
text
firstboot --enable
ignoredisk --only-use={{ disk }}
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
bootloader --location=mbr --boot-drive=sda
timezone {{ timezone }}

# automatic partitioning
clearpart --all --initlabel
autopart --type=lvm

# network configuration
{% if interface.static %}
network  --bootproto=static --ip={{ interface.ipaddress }} --netmask={{ interface.netmask }} --gateway={{ interface.gateway }} --nameserver={{ interface.nameservers | join(',')}} --noipv6
{% else %}
network  --bootproto=dhcp
{% endif %}
network --hostname={{ hostname }}
firewall --disabled
selinux --disabled

# user configuration
rootpw --iscrypted {{ root_password }}
user --name={{ username }} --homedir={{ homedir }} --password={{ password }} --iscrypted

# accept eula
eula --agreed

{% if halt %}
poweroff
{% else %}
# eject installation dvd before rebooting
reboot --eject
{% endif %}

%packages
@^minimal
@core
curl
openssh-server
%end

%post
yum update -y
mkdir {{ homedir }}/.ssh
echo '{{ sshkey }}' >> {{ homedir }}/.ssh/authorized_keys
chown -R {{ username }}:{{ username }} {{ homedir }}/.ssh
echo "blacklist ipv6" >> /etc/modprobe.d/blacklist.conf
echo "{{ username }} ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/{{ username }}
chmod 440 /etc/sudoers.d/{{ username }}
sed -i -e 's/^#PasswordAuthentication.*/PasswordAuthentication no/' /etc/ssh/sshd_config
sed -i -e 's/^#PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
yum install -y python
%end
